<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Home') %>
	</head>

	<body>
		<div class="transparent-soft-blue-box span8 offset3 text-center">

			<h1 class="styled-h1">
				Welcome!
			</h1>

			<br />

			<h2 class="styled-h2">
				Thanks for visiting my site!
			</h2>

			<br />
			<br />

			<%= link_to 'Come On In!', personal_pages_path, :class => 'btn btn-info btn-large' %>
		</div>
	</body>
</html>