<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Home') %>
	</head>
	
	<div class="transparent-soft-blue-box text-center">
		<h1 class="styled-h1">
			WELCOME
		</h1>

		<h2 class="styled-h2">
			to
		</h2>

		<h2 class="styled-h1">
			THE #1 JEFFREY DILL RELATED NEWS SOURCE!
		</h2>

		<br />
		<br />

		<%= link_to 'Come On In!', personal_pages_path, :class => 'btn btn-info btn-large styled-button' %>

		<br/>
		<br/>
	</div>
</html>