<div class="transparent-mint-green-box span8 offset3 text-center">

	<h1 class="styled-h1">
		Welcome!
	</h1>

	<br/>

	<h2 class="styled-h2">
		Your #1 source for all things Jeffrey Dill-related!
	</h2>

	<br/>
	<br/>

	<%= link_to 'Come On In!', home_pages_path, :class => 'btn btn-success btn-large' %>
</div>