<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'The Personal') %>
	</head>
	
	<body>
		<div class="section-background">
			<div class="header-background">
				<h2 class="styled-h2">
					About Me
				</h2>
			</div>

			<div class="styled-paragraph">
				</br>&nbsp;

				Hi! I'm Jeff.
				</br>&nbsp;
				This is my personal website!
			</div>

			<% 3.times do |i| %>
			    </br>&nbsp;
			<% end %>

			<%= link_to "Let's Get Professional...", professional_pages_path, :class => "btn btn-info btn-medium" %>

			<% 3.times do |i| %>
			    </br>&nbsp;
			<% end %>
		</div>
	</body>
</html>