<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'The Personal') %>
	</head>
	
	<body>
		<div class="section-background">
			<div class="header-background">
				<h2 class="styled-h2">
					About Me
				</h2>
			</div>

			<div class="styled-paragraph" style="margin-left: 10px; ">
				<br/>
				Hi! My name is Jeffrey Dill and this is my personal website.
				</br></br>
				I'm a native of Greenville, SC a graduate of Clemson University, husband to a wonderful wife, and a son of God redeemed by His grace.
				<br/><br/>
				I love travelling and experiencing the world as it presents itself to me. I've lived in Charlotte, NC and now live in Pittsburgh, PA.
				</br></br>
				Please feel free to <a href="mailto:jeffdill2@gmail.com?subject=Hello!">reach out to me</a> about job opportunities or just to say HELLO!
			</div>

			<% 3.times do |i| %>
			    </br>&nbsp;
			<% end %>

			<div style="margin-left: 20px; ">
				<%= link_to "Let's Get Professional...", professional_pages_path, :class => "btn btn-info btn-medium" %>
			</div>

			<br/><br/>
		</div>
	</body>
</html>