<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Tweets') %>
	</head>

	<div class="tweets-body">
		<% @tweets.each do |tweet| %>
			<div class="tweet-container span3 float">
				<div class="tweet-text">
					<%= tweet_text(tweet) %>
				</div>

				<br/>

				<ul class="gallery">
					<li>
						<%= link_to image_tag(tweet_url(tweet), :alt => tweet_url(tweet)), "", :class => "image" %>
					</li>
				</ul>
			</div>
		<% end %>
	</div>

	<div class="modal-bg"></div>
	
	<div class="modal">
		<a href="" class="close"></a>
		<img class="enlarged-img">
	</div>

	<span class="loader"><%= image_tag "loader.gif", :alt => "Loading..." %></span>
</html>