<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Tweets') %>
	</head>

	<div class="tweets-body">
		<% @tweets.each do |tweet| %>
			<div class="tweet-container span3 float">
				<div class="tweet-text">
					<%= tweet_text(tweet) %>
				</div>

				<br/>

				<div data-target="#picModal" data-toggle="modal">
					<%= image_tag tweet_url(tweet) %>
				</div>
			</div>

			<div id="picModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="picModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3>&nbsp;</h3>
				</div>
				
				<div class="modal-body">
					<p><%= image_tag tweet_url(tweet) %></p>
				</div>
			</div>
		<% end %>
	</div>
</html>