<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Tweets') %>
	</head>

	<% @tweets.each do |tweet| %>
		<div class="tweet-container span3">
			<div class="tweet-text">
				<%= tweet_text(tweet) %>
			</div>

			<br/>

			<div>
				<%= image_tag tweet_url(tweet) %>
			</div>
		</div>
	<% end %>
</html>