<h1 class="styled-h1">
	<span style="font-size: 20px">
		THIS IS THE HOME PAGE!
	</span>

	<br/>

	<%= link_to 'Continue...', personal_pages_path, :class => 'btn btn-success btn-medium' %>
</h1>

<p>
<%= image_tag "CNN_Award.png", :alt => "CNN Award", :width => "15%", :height => "15%" %>
<%= image_tag "Fox_News_Award.png", :alt => "Fox News Award", :width => "15%", :height => "15%" %>
<%= image_tag "NYT_Award.png", :alt => "NYT Award", :width => "15%", :height => "15%" %>
</p>