/*//////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
//////////////////////////////////////////////////////////*/
$colorDeepSeaGreen: #0B4C5F;
$colorSteelBlue: #457FA4;
$colorSilverGrey: #A1A1A1;
$colorBlack: #000000;
$colorWhite: #FFFFFF;
$colorLightBlueHaze: #EFF5FB;
$colorGreyBlueHaze: rgba(165,183,196,0.40);
$colorDuskBlueHaze: rgba(40,120,150,0.40);

/*//////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
//////////////////////////////////////////////////////////*/
$fontBlackout2AM: 'blackout2_am';
$fontUbuntuMono: 'Ubuntu Mono';
$fontInconsolata: 'Inconsolata';
$fontMonofett: 'Monofett';
$fontNixieOne: 'Nixie One';