@import 'variables';

/*//////////////////////////////////////////////////////////
////////////////////////////////////////// TWEETS FORMATTING
//////////////////////////////////////////////////////////*/

.tweet-text
{
  font-family: $fontUbuntuMono;
  font-weight: normal;
  font-size: 16px;
  color: $colorDeepSeaGreen;
}

.tweets-body
{
  margin: 0 auto;
  width: 90%;
}

.tweet-container
{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: $colorGreyBlueHaze;
  height: 0 auto;
  width: 0 auto;
  margin: 10 auto;
  margin-bottom: 30px;
}