<!DOCTYPE html>
<html>
<body>
	<head>
		<%= provide(:title, 'The Professional') %>
	</head>

	<h2 class="styled-h2">
		Professional Summary
	</h2>

	<div class="styled-paragraph">
		<hr style="height: 4px; width: 800px; " />
		<br/>&nbsp;

		I love all things "tech" and have a passion for writing code.
		<br/>&nbsp;<br/>&nbsp;
		When working with any development platform, I get EXCITED <br/>&nbsp;
		about building products that are cleanly-designed, user-friendly, <br/>&nbsp;
		intuitive and properly balanced between pleasing aesthetics and <br/>&nbsp;
		exceptional functionality.
	</div>

	<% 3.times do |i| %>
		<br/>&nbsp;
	<% end %>

	<h2 class="styled-h2">
		Work Experience
	</h2>

	<div class="styled-paragraph">
		<hr style="height: 4px; width: 800px; " />
		<br/>&nbsp;

		Developed the entire back-end and helped to develop the front-end <br/>&nbsp;
		for Heeter's web-to-print / print-on-demand solution, ShopPRO - a <br/>&nbsp;
		division of HeeterPRO. This solution includes a JavaScript-enhanced <br/>&nbsp;
		client-facing web portal, SQL server utilization, two C# applications, <br/>&nbsp;
		and an ASP.NET credit card payment website.

		<br/>&nbsp;
	</div>

	<% 3.times do |i| %>
		<br/>&nbsp;
	<% end %>

	<span style="padding-left: 10px; ">
		<%= link_to 'Memories Abound...', memorable_pages_path, :class => 'btn btn-info btn-medium' %>
	</span>
</body>
</html>