<h1 class="styled-h1">
	<span style="font-size: 20px; padding-left: 10px; ">
		THIS IS THE PROFESSIONAL PAGE!
	</span>

	<br/>

	<span style="padding-left: 10px; ">
		<%= link_to 'Memories Abound...', memorable_pages_path, :class => 'btn btn-info btn-medium' %>
	</span>
</h1>