<footer class="footer">
	<div>
		<%= link_to image_tag("twitter-48-black.png"), "http://www.twitter.com/jeffdill2", :target => "#" %>

		<%= link_to image_tag("linkedin-48-black.png"), "http://www.linkedin.com/profile/view?id=59054351", :target => "#" %>

		<%= link_to image_tag("github-48-black.png"), "https://github.com/jeffdill2", :target => "#" %>
	</div>
</footer>